<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jroomstudio.smartbookmarkeditor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <activity
            android:name=".information.InformationActivity"
            android:theme="@style/Transparent">
            <!--개인정보처리방침 등의 안내문구 보여주는 액티비티-->
        </activity>

        <activity
            android:name=".login.LoginActivity"
            android:theme="@style/Transparent">
            <!-- 로그인 액티비티 -->
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id">
            <!-- 페이스북 메타데이터 -->
        </meta-data>

        <activity
            android:name=".main.MainActivity"
            android:theme="@style/Base.AppTheme">
            <!-- 메인 액티비티 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".itemtouch.ItemTouchEditActivity"
            android:theme="@style/Base.AppTheme">
            <!-- 아이템 터치 순서변경 액티비티 -->
        </activity>
        <activity
            android:name=".webview.WebViewActivity"
            android:theme="@style/Base.AppTheme"
            android:windowSoftInputMode="stateHidden">
            <!-- 웹뷰 액티비티 -->
        </activity>
        <activity
            android:name=".webview.WebAddBookmarkPopupActivity"
            android:theme="@style/AppTheme.Popup">

            <!-- 북마크 추가 팝업 -->
        </activity>
        <activity
            android:name=".popup.EditAddItemPopupActivity"
            android:theme="@style/AppTheme.Popup">

            <!-- 아이템 추가 편집 팝업 -->
        </activity>

    </application>

</manifest>